{% load static %}
  <footer>
 <!-- Footer section start-->
    <section>
    <div class="footer">
    <div class="row">
    
    <!-- contact detail start -->
    <div class="col-sm-3"></div>

<!-- address start -->
    <div class="col-sm-3"style="margin:auto;">
    <div class="details my-5 px-3 mx-3"style="border-top:4px solid #373737;border-bottom:2px solid gray;border-left:2px solid gray;border-right:2px solid gray;">
    <div class="title text-center p-4 bg-white"style="margin-top:-60px;">
 <p style="font-size:25px;">GOVERNMENT CENTER</p>
 <hr class="my-4"style="height:2px !important;background-image: -webkit-linear-gradient(left, #f0f0f0, black, #f0f0f0);margin-bottom: 30px;margin-top: 30px;">
 <div class="content">
 <p class="my-0">35 Court Street</p>
 <p class="my-0">Boston MA 02108</p>
 <p class="my-0"style="color:orange;">617 402 5000</p>
 <p class="my-0">govcener@bostondental.com</p>
 <br>
 <p class="my-0">MON-THUR: <span><b>8AM-6PM</b></span></p>
 <p class="my-0">FRI: <span><b>8AM-5PM</b></span></p>
 <p class="my-0">SAT: <span><b>9AM-3PM</b></span></p>
<button type="button" class="btn btn-sm mt-3 mb-2 text-light"style="background:orange;border-radius:0px;">VIEW CENTER</button>
 </div>
    </div>
    </div>
    </div>
    <!-- address end -->

<!-- map start -->
    <div class="col-sm-3"style="margin:auto;">
    <div class="map my-5 px-3 mx-3"style="border-top:4px solid #373737;border-bottom:2px solid gray;border-left:2px solid gray;border-right:2px solid gray;">
    <div class="title text-center p-4 bg-white"style="margin-top:-50px;">
 <p class=""style="font-size:25px;">DIRECTIONS</p>
<div class="content text-center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.467519900242!2d-71.06189798499487!3d42.35387474348554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37082eb7e3373%3A0x6e378cfebc143a71!2s36%20Chauncy%20St%2C%20Boston%2C%20MA%2002111%2C%20USA!5e0!3m2!1sen!2s!4v1628752631706!5m2!1sen!2s" width="210" height="260" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
 </div>
    </div>
    </div>
    </div>
<!-- map ends -->
    <div class="col-sm-3"></div>
    <!-- contact detail end -->
    
    <!-- social detail start -->
<div class="line">
<center><hr style="width:20%;order: 0 !important;height:2px !important;background-image: -webkit-linear-gradient(left, #f0f0f0, black, #f0f0f0);margin-bottom: 30px;margin-top: 30px;width: 450px;"></center>
</div>

<div class="col-sm-6"style="margin:auto;">
<div class="contact text-center my-3">
<h class="p">CONTACT SOCIALLY</h>
<div class="socials justify-content-around my-3">
<span class="mx-2"style="font-size:15px;"><i class="fab fa-2x fa-facebook-f"></i></span>
<span class="mx-2"style="font-size:15px;"><i class="fab fa-2x fa-twitter"></i></span>
<span class="mx-2"style="font-size:15px;"><i class="fab fa-2x fa-instagram"></i></span>
<span class="mx-2"style="font-size:15px;"><i class="fab fa-2x fa-youtube"></i></span>
<span class="mx-2"style="font-size:15px;"><i class="fab fa-2x fa-linkedin-in"></i></span>
</div>
</div>
</div>
    <!-- social detail end -->

<!-- bottom line start -->
<div class="col-sm-8 d-none d-md-block"style="margin:auto">
<div class="bottom-line my-4 d-flex justify-content-around">
<span>@ 2021 Boston Dental, All Right Reserved</span>
<span>36 CHAUNCY STREET, BOSTON, MA 02111</span>
<span>t.614-402-5000</span>
<span>e.govcenter@bostondental.com</span>
</div>
</div>

<div class="col-sm-12 d-md-none">
<div class="row text-center">
<div class="col-sm-1"style="margin:auto;"></div>
<div class="col-sm-3"style="margin:auto;"><span>@ 2021 Boston Dental, All Right Reserved</span></div>
<div class="col-sm-3"style="margin:auto;"><span>36 CHAUNCY STREET, BOSTON, MA 02111</span></div>
<div class="col-sm-2"style="margin:auto;"><span>t.617-402-5000</span></div>
<div class="col-sm-2"style="margin:auto;"><span>e.govcenter@bostondental.com</span></div>
<div class="col-sm-1"style="margin:auto;"></div>
</div>
</div>
<!-- bottom line start -->
    
    </div>
    </div>
    </section>
    <!-- footer section end -->



  </footer>