{% load static %}
<!DOCTYPE html>
<html lang="en">

 <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/myLogo.png' %}">
<!-- Font Montserrat -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<!-- Font Roboto -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel="stylesheet">
    <title>Boston Dental</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" >
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">


    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}" >
    <link rel="stylesheet" href="{% static 'css/owl.css' %}" >
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!-- Style -->
<style>

body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    background:white;
}
span,p{
    font-size:11px;
    color:black;
}
h4{
    font-family: 'Montserrat', sans-serif;
}
.paragraph{
    font-size:13px;
    font-family: 'Montserrat', sans-serif;
    
}
::placeholder{
    color:#272727 !important;
}
input,
input::-webkit-input-placeholder {
    font-size: 13px;
    
}
.sticked{
  position:sticky !important;
  top:0;
  background:white;
}
.menu-item{
    font-size:13px;
    text-transform:uppercase;
}

.btn{
    border-radius:50px;
    padding:10px 40px 10px 40px;
    background:black;
    margin:40px 0px 40px 0px;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    color:gray;
}
</style>
</head>
<body>

<!-- Header start-->
    <section class="d-none d-lg-block">
    <!-- top bar -->
    <div class="top-bar d-none d-md-block"style="background:#DEDEDE">
    <div class="content py-2" style="font-size:12px;">
    <span class="mx-3"style="font-weight:bold;"><a href="#">DOWNTOWN CROSSING</a></span>
    <span class="mx-3"style="font-weight:bold;"><a href="#">GOVERNMENT CENTER</a></span>
    <span class="mx-3"style="font-weight:bold;"><a href="#">SEAPORT</a></span>
    <span class="mx-3"style="font-weight:bold;"><a href="#">DUBAI</a></span>
    </div>
    </div>
<!-- top bar end -->


    <div class="Logo-bar mx-4">
    <div class="row">

<!-- search bar -->
    <div class="col-sm-4">
<div class="search my-5 d-none d-md-block"style="border:1px solid black;border-radius:50px;width:70%;">
     <form method="get" action="" class="d-flex">
        <input class="form-control" style="padding-top:0px !important;padding-bottom:0px !important;border:none;border-radius:50px 0px 0px 50px;size:12px;"type="search" placeholder="What are you looking for?" aria-label="Search" name="query">
        <button class="btn  text-black " style="border:none !important;margin:0px;padding:5px 10px 5px 10px;background:white !important;border-radius:0px 50px 50px 0px;"type="submit"><i class="fas fa-search text-dark"></i></button>
      </form>
</div>
    </div>
<!-- search bar end -->

<!-- logo -->
    <div class="col-sm-4">
    <div class="text-center my-4">
    <a href="{% url 'home' %}" class="logo text-center">
               <img class="text-center"src="{% static 'images/Bd Logo.png' %} " style="image-rendering: pixelated;object-fit:cover;height:70px;width:265px;" alt="Logo">
            </a>
    </div>
    </div>
<!-- logo end -->

<!-- contact start-->
    <div class="col-sm-4">
    <div class="contact d-flex justify-content-around my-5">
    <span><i class="fas fa-hospital-alt"></i> <a href="#">VIRTUAL DENTAL CONSULT</a></span>
    <span><i class="far fa-envelope"></i> <a href="#">BOOK ONLINE</a></span>
    <span><i class="fas fa-phone"></i> <a href="#">617-432-5000</a></span>
    </div>
    </div>
    <!-- contact end -->

   
   </div>
   </div>
   </section>
<!-- header section ends -->

    <!-- Menu start -->
<section class="">
    <div class="row d-none d-lg-block">
    <div class="col-sm-9"style="margin:auto;">
    <div class="menu d-flex justify-content-around">
    <span class="menu-item"><a href="#">a closer look</a></span>
    <span class="menu-item"><a href="#">services</a></span>
    <span class="menu-item"><a href="#">smile design</a></span>
    <span class="menu-item"><a href="#">aesthetic</a></span>
    <span class="menu-item"><a href="#">press</a></span>
    <span class="menu-item"><a href="#">contact</a></span>
    <span class="menu-item"><a href="#">careers</a></span>
    <span class="menu-item"><a href="#">boston dental response to covid 19</a></span>
    
    </div>
    </div>
    </div>

   <hr class="my-4 mx-4">
</section>

<!-- Menu Ends -->



<!-- Mobile nav section start -->
<section class=" d-sm-block d-lg-none">

<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 py-3 mb-3">
    <a href="{% url 'home' %}" class="logo text-center">
               <img class="text-center"src="{% static 'images/Bd Logo.png' %} " style="image-rendering: pixelated;object-fit:cover;height:45px;width:170px;" alt="Logo">
            </a>
  <button class="navbar-toggler" type="button" style="border:0px;" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon py-3"style="width:35px;height:20px;"></span>
  </button>

  <div class="collapse navbar-collapse text-center mt-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="#">A CLOSER LOOK</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">SERVICES</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">SMILE DESIGN</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">AESTHETIC</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">PRESS</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">CAREERS</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#">BOSTON DENTAL RESPONSE TO COVID 19</a>
      </li>
    </ul>
<!-- search bar -->
    <div class="search-bar">
<div class="search my-2"style="border:1px solid black;border-radius:50px;">
     <form method="get" action="" class="d-flex">
        <input class="form-control" style="padding-top:0px !important;padding-bottom:0px !important;border:none;border-radius:50px 0px 0px 50px;size:12px;"type="search" placeholder="What are you looking for?" aria-label="Search" name="query">
        <button class="btn  text-black " style="border:none !important;margin:0px;padding:5px 10px 5px 10px;background:white !important;border-radius:0px 50px 50px 0px;"type="submit"><i class="fas fa-search text-dark"></i></button>
      </form>
</div>
    </div>
<!-- search bar end -->
  </div>
</nav>
</section>
<!-- Mobile Nav section ends -->



  <!-- Scripts -->
  <script src="{% static 'js/jquery.min.js' %} "></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      offset:300,
      duration: 1400,
      delay: 100,
    });
  </script>

</body>
</html>
